<div class="modal-wrapper" id="add-donor-modal">
    <div class="modal">
        <a href="#" onclick="closeModal()" class="modal-close">+</a>
        <div class="modal-title">
            <h2>Create New Donor</h2>
        </div>
        <div class="modal-body">
            <form method="post" action="/donors" id="add-donor-form">
                <input type="text" placeholder="enter name" name="name" />
                <p class="error name-error"></p>

                <input type="text" placeholder="enter email" name="email" />
                <p class="error email-error"></p>

                <input type="text" placeholder="enter mobile" name="mobile" />
                <p class="error mobile-error"></p>

                <label class="search_blood" for="bloodType"
                    >Choose a blood type:</label
                >
                <select name="bloodType" id="bloodType">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="O">O</option>
                    <option value="AB">AB</option>
                </select>
                <label class="search_blood" for="rhFactor"
                    >Choose a RH factor:</label
                >
                <select name="rhFactor" id="rhFactor">
                    <option value="+">Positive</option>
                    <option value="-">Negative</option>
                </select>

                <input type="text" placeholder="enter batch" name="batch" />

                <input type="text" placeholder="enter section" name="section" />

                <input
                    type="text"
                    placeholder="enter department"
                    name="department"
                />

                <p class="error common-error"></p>

                <input type="button" value="Submit" onclick="submitForm()" />
            </form>
        </div>
    </div>
</div>
<script>
    const modal = document.querySelector("#add-donor-modal");
    const form = document.getElementById("add-donor-form");
    function closeModal() {
        modal.style.display = "none";
        modal.body.innerHTML = "";
    }
    function submitForm() {
        form.submit();
        form.reset();
        closeModal();
        return false;
    }
    // success toast
    const successToast = Toastify({
        text: "User was added successfully! Reloading the list...",
        duration: 1000,
    });

    function openModal() {
        modal.style.display = "block";
    }
</script>
